.content1 {
  width: 100%;
  margin: 100px 0;
}
.sub-content {
  width: 80%;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.sub-content1 {
  width: 80%;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.service-content {
  width: 100%;
}
.service-header {
  text-align: center;
}
.card-body {
  text-align: center;
}

.card {
  margin: 0 20px;
}
.team {
  width: 80%;
  margin: 50px auto;
}
.team-p {
  text-align: center;
  width: 80%;
  margin: 50px auto;
}
.team-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.con {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}
.col1 {
  flex: 1;
  margin-right: 10px;
}
.col2 {
  flex: 1;
}
.footer {
  width: 100%;
}
.sub-footer {
  width: 80%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}
.media {
  display: flex;
}
.media li {
  margin: 0 15px;
}
.b-logo {
  margin: 20px 0;
}
.col3,
.col4,
.col5,
.col6 {
  padding: 20px 0;
}
.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
.list-group {
  background-color: #f8f9fa !important;
}
h6 {
  margin-bottom: 2rem;
}
/* media query */
@media (max-width: 768px) {
  .sub-content {
    margin-top: 40px;
    flex-direction: column-reverse;
  }
  .sub-content1 {
    margin-top: 40px;
    flex-direction: column;
  }
  .card {
    margin: 20px 0;
  }
  .team-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .con {
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
  }
  .col1 {
    margin: 10px 0;
  }
  .sub-footer {
    width: 80%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}
